a.Top_link
{
	text-decoration: none;
	font-family: "VERDANA";
	margin-left: 5em;
	color :black;
}


div.Top_div
{
	background:#FFFFFF;
	border-bottom: 1px solid #CCCCCC;
	padding-left: 7.5em;
	padding-top:0.75em;
	
}

body.standart_body
{
	background:#EEEEEE;
	margin:0;
}