a.Top_link
{
	text-decoration: none;
	font-family: "VERDANA";
	margin-top: 5em;
}


div.Top_div
{
	background:#FFFFFF;
	border-bottom: 1px solid #CCCCCC;
	margin:0;
	padding-left: 12.5em;
}

body.standart_body
{
	background:#EEEEEE;
	margin:0;
}